{% load static %}
<div class="sidebar">
    <div class="sidebar-header">
        <h2> Hi, {{ currentuser }}</h2>
    </div>
    <ul class="sidebar-menu">
        <li><a href="/adminDash"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/adminDash/managecar_view"><i class="fas fa-car"></i> Manage Cars</a></li>  
        <li><a href="/adminDash/users_view"><i class="fas fa-users"></i> Users</a></li>
        <!-- or users_table up -->
        <li><a href="/adminDash/add_car" id="settings-link"><i class="fas fa-cogs"></i> Add Cars</a></li>
        <li><a href="#" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>