{% extends 'adminDash/dash.html' %}
{% load static %}
{% block content %}

<section class="content" id="manage-cars-content">
    <!-- Manage Cars Table -->
    <table class="car-table" id="car-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Model S</td>
                <td>Tesla</td>
                <td>2023</td>
                <td>$80,000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Civic</td>
                <td>Honda</td>
                <td>2022</td>
                <td>$25,000</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</section>

{% endblock content %}